## Lecture 1 - Date types and Data Structures

Woohoo! Lesson 1! Here we go!

### Data Types / Data Structures
<p style='text-align: center; font-weight: bold;'> Primitive/Basic Data Types </p>

| Symbol | Example | 
|----|---|
| str  | 'Hello' or "Hello" |
| int  | 0, 1, 2, 3, 4 |
| float  | 0.123 |
| bool | true, false |

<p style='text-align: center; font-weight: bold;'> Non-Primitive/Composite Data Structures </p>

| Symbol | Example | Notes |
|----|---|
| list  | ['kevin', 'kevin', 'tim', 'david'] | can have duplicates |
| set  | {'kevin', 'david', 'tim'} | no duplicates |
| dict  | {'kevin': 25, 'david': 26, 'tim': 29} | key-value pair. no duplicates

## Variables
In python, you can assign a variable any type and the python interpreter will interpret it.

In [ ]:
x = 2
y = 10
a = '4'
b = '2'

In [2]:
print("This is x + y: ", x + y)
print("This is a + b: ", a + b, "Notice that we don't actually add the strings but just put them next to each other")

NameError: name 'x' is not defined

## Operators

<p style='text-align: center; font-weight: bold;'> Arithmetic Operators </p>

| Symbol | Task Performed | Example | Output
|----|---|
| +  | Addition | 1 + 1 | 2
| -  | Subtraction | 1 - 1 | 0
| /  | division | 1 / 2 | 0.5
| %  | mod (remainder) | 10 % 3 | 1 
| *  | multiplication | 1 * 2 | 2
| //  | floor division (round down) | 1 / 2 | 0
| **  | to the power of | 2**2 | 4

<p style='text-align: center; font-weight: bold;'> Relational Operators </p>

| Symbol | Task Performed | Example | Output
|----|---|
| == | True, if it is equal | 1 == 1 | True
| !=  | True, if not equal to | 1 != 1 | False
| < | less than | 1 < 1 | False
| > | greater than | 1 > 1 | False
| <=  | less than or equal to | 1 <= 1 | True
| >=  | greater than or equal to | 1 >= | True

<p style='text-align: center; font-weight: bold;'> Logical Operators </p>

| Symbol | Task Performed | Example | Output
|----|---|
| and | True, if both are true | (1 == 1) and (2 == 3) | False. One is false.
| or  | True, if one is true | (1 == 2) or (2 == 3) | False. Neither are true.
| not | True, if one is false | (1 == 2) | True. It is not true

### Putting it all together

In [ ]:
burn_book = {
    'Tim': {
        'status': 'cool',
        'address': 'USA',
        'age': 28,
        'money': 100,
        'family': ['Orpha', 'Joselito', 'Tim', 'Queenie', 'Phoebe']
    },
    'David': {
        'status': 'lame',
        'address': 'Quintet',
        'age': 26,
        'money': 300,
        'family': ['Roby', 'Noemi', 'Jordan', 'Kevin', 'Sam']
    },
    'Kevin': {
        'status': 'cool',
        'address': 'Quintet',
        'age': 25,
        'money': 400,
        'family': ['Roby', 'Noemi', 'Jordan', 'David', 'Sam'],
    },
    'Sam': {
        'status': 'lame',
        'address': 'Quintet',
        'age': 20,
        'money': 500,
        'family': ['Roby', 'Noemi', 'Jordan', 'David', 'Kevin']
    },
}

david_status = burn_book['David']['status']
sam_family = burn_book['Sam']['family']
sam_money = burn_book['Sam']['money']
kevin_money = burn_book['Kevin']['money']

In [ ]:
burn_book_type = type(burn_book)
print("This is the burn book type/data structure:", burn_book_type)

is_david_cool = david_status == 'cool'
print("Is david cool?", is_david_cool)

print("This is sam's family:", sam_family)

print("Is Kevin richer than sam?", kevin_money > sam_money)